@typeparam T
@inherits TCInputRadioBase<T>

    <div class="custom-control custom-radio">
        <input @attributes="AdditionalAttributes"
               id="@Id"
               class="custom-control-input @CssClass.Replace("invalid", "is-invalid")"
               type="radio"
               value="@SelectedValue"
               checked="@(SelectedValue.Equals(Value))"
               @onchange="OnChange" />
        <label class="custom-control-label" for="@Id">@Label</label>
    </div>
