@page "/cdnform"
@using System.ComponentModel.DataAnnotations;

@using Data;
@using CDTS_Blazor.TCComponents;

<h1>APPLICATION FOR CANDIDATE DOCUMENT NUMBER (CDN)</h1>

<nav aria-label="progress" class="step-indicator">
    <ul class="steps">
        <li class="active" aria-current="true">
            <a href="/">Information</a><span class="sr-only">completed</span>
        </li>
        <li>
            <a href="/cdnform">Applicant Details</a><span class="sr-only">not completed</span>
        </li>
        <li>
            <a href="/address">Mailing Address</a><span class="sr-only">not completed</span>
        </li>
        <li>
            <a href="#">Documents to Confirm the Identity</a><span class="sr-only">not completed</span>
        </li>
        <li>
            <a href="#">Remarks and Signature</a><span class="sr-only">not completed</span>
        </li>
    </ul>
</nav>

<EditForm Model="@tombstoneInformation" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <TCInputText Label="Surname"
                     Id="CDN-Surname"
                     @bind-Value="tombstoneInformation.Surname"
                     ValidationFor="@(() => tombstoneInformation.Surname)" />
    </div>
    <div class="form-group">
        <TCInputText Label="Givenname(s)"
                     Id="CDN-Givennames"
                     @bind-Value="tombstoneInformation.GivenName"
                     ValidationFor="@(() => tombstoneInformation.GivenName)" />
    </div>
    <div class="form-group">
        <TCInputText Label="Initials"
                     Id="CDN-Initials"
                     @bind-Value="tombstoneInformation.Initials"
                     ValidationFor="@(() => tombstoneInformation.Initials)" />
    </div>
    <div class="form-group">
        <TCInputText Label="Date of Birth (dd-mm-yyyy)"
                     Id="CDN-DateOfBirth"
                     @bind-Value="tombstoneInformation.DateOfBirth"
                     ValidationFor="@(() => tombstoneInformation.DateOfBirth)" />
    </div>
    <div class="form-group">
        <TCInputText Label="Nationality"
                     Id="CDN-Nationalty"
                     @bind-Value="tombstoneInformation.Nationality"
                     ValidationFor="@(() => tombstoneInformation.Nationality)" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>

@code {
    private TombstoneInformation tombstoneInformation = new TombstoneInformation();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }

    public class TombstoneInformation
    {
        public TombstoneInformation()
        {
            this.DateOfBirth = DateTime.Now.ToString("dd-MM-yyyy");
        }

        [Required]
        public string Surname { get; set; }

        [Required]
        public string GivenName { get; set; }

        [Required]
        public string Initials { get; set; }

        [Required]
        public string DateOfBirth { get; set; }

        [Required]
        public string Nationality { get; set; }

        [Required]
        public Language LanguagePreference { get; set; }
    }
}
