@page "/cdnform"
@using System.ComponentModel.DataAnnotations;

@using Data;
@using CDTS_Blazor.TCComponents;

@inject NavigationManager navigationManger

<nav aria-label="progress" class="step-indicator">
    <ul class="steps">
        <li class="active" aria-current="true">
            @Constants.ProgressBarText1
        </li>
        <li>
            @Constants.ProgressBarText2<span class="sr-only">not completed</span>
        </li>
        <li>
            @Constants.ProgressBarText3<span class="sr-only">not completed</span>
        </li>
        <li>
            @Constants.ProgressBarText4<span class="sr-only">not completed</span>
        </li>
    </ul>
</nav>

<br />

<EditForm Model="@tombstoneInformation" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <TCInputText Label="Surname"
                     Id="CDN-Surname"
                     @bind-Value="tombstoneInformation.Surname"
                     ValidationFor="@(() => tombstoneInformation.Surname)" />
    </div>
    <div class="form-group">
        <TCInputText Label="Givenname(s)"
                     Id="CDN-Givennames"
                     @bind-Value="tombstoneInformation.GivenName"
                     ValidationFor="@(() => tombstoneInformation.GivenName)" />
    </div>
    <div class="form-group">
        <TCInputText Label="Initials"
                     Id="CDN-Initials"
                     @bind-Value="tombstoneInformation.Initials"
                     ValidationFor="@(() => tombstoneInformation.Initials)" />
    </div>
    <div class="form-group">
        <TCInputText Label="Date of Birth (dd-mm-yyyy)"
                     Id="CDN-DateOfBirth"
                     @bind-Value="tombstoneInformation.DateOfBirth"
                     ValidationFor="@(() => tombstoneInformation.DateOfBirth)" />
    </div>
    <div class="form-group">
        <TCInputText Label="Nationality"
                     Id="CDN-Nationalty"
                     @bind-Value="tombstoneInformation.Nationality"
                     ValidationFor="@(() => tombstoneInformation.Nationality)" />
    </div>

    <div class="form-group">
        <TCInputRadio Label="English"
                      Id="CDN-Language-English"
                      name="language"
                      SelectedValue="Language.ENGLISH"
                      @bind-Value="tombstoneInformation.LanguagePreference" />
        <TCInputRadio Label="Français"
                      Id="CDN-Language-French"
                      name="language"
                      SelectedValue="Language.FRENCH"
                      @bind-Value="tombstoneInformation.LanguagePreference" />
    </div>

    <button class="btn btn-primary" type="submit">Next</button>
    <a class="btn btn-secondary" href="/" role="button">Cancel</a>
</EditForm>

@code {
    private TombstoneInformation tombstoneInformation = new TombstoneInformation();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
        navigationManger.NavigateTo($"{navigationManger.BaseUri}/mailingaddress");
    }

    public class TombstoneInformation
    {
        public TombstoneInformation()
        {
            this.DateOfBirth = DateTime.Now.ToString("dd-MM-yyyy");
        }

        [Required]
        public string Surname { get; set; }

        [Required]
        [Display(Name = "Given Name(s)")]
        public string GivenName { get; set; }

        [Required]
        public string Initials { get; set; }

        [Required]
        [Display(Name = "Date of Birth")]
        public string DateOfBirth { get; set; }

        [Required]
        public string Nationality { get; set; }

        [Required]
        [Display(Name = "Language")]
        public Language LanguagePreference { get; set; }
    }
}
